<!-- components/profile/profile.html -->

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <!-- Image column -->
                <img src="" alt="User Avatar" class="card-img-top" id="avatarImage">
            </div>
            <div class="col-md-8">
                <!-- Content column -->
                <h5 class="card-title" id="userName"></h5>
                <p class="card-text" id="userBio"></p>

                <div class="list-group">
                    <p  class="list-group-item list-group-item-action" id="userLocation"></p>
                    <p  class="list-group-item list-group-item-action" id="userEmail"></p>
                    <p  class="list-group-item list-group-item-action" id="userFollowers"></p>
                    <p  class="list-group-item list-group-item-action" id="userFollowing"></p>
                </div>
            </div>
        </div>
    </div>
</div>
