<div class="d-flex">
    <h5 class="py-2">Repo per page: </h5>
    <div class="btn-group ml-2 border border-dark rounded">
        <button type="button" class="btn border border-dark btn-per-page" id="perPage10">10</button>
        <button type="button" class="btn border border-dark btn-per-page" id="perPage25">25</button>
        <button type="button" class="btn border border-dark btn-per-page" id="perPage50">50</button>
        <button type="button" class="btn border border-dark btn-per-page" id="perPage100">100</button>
    </div>
</div>